################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PyTools
/src/scripts/__pycache__
/src/tools/__pycache__
